s = {
	internalName = "$name $value",
	title = "$name: $value",
	type = "Develop",
	value = {
		settings = {
			EnableEffects = true,
			$setting = $value,
			PostCropVignetteFeather = 50,
			PostCropVignetteHighlightContrast = 0,
			PostCropVignetteMidpoint = 50,
			PostCropVignetteRoundness = 0,
			PostCropVignetteStyle = 1,
			ProcessVersion = "10.0",
		},
	},
	version = 0,
}
