s = {
	internalName = "$name $value",
	title = "$name: $value",
	type = "Develop",
	value = {
		settings = {
			$setting = $value,
			WhiteBalance = "Custom",
			ProcessVersion = "10.0",
		},
	},
	version = 0,
}
